# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /storage/spencer/poky/meta \
  /storage/spencer/poky/meta-poky \
  /storage/spencer/poky/meta-yocto-bsp \
  /storage/spencer/poky/meta-openembedded/meta-oe \
  /storage/spencer/poky/meta-openembedded/meta-python \
  /storage/spencer/UTHP/Yocto/meta-python2 \
  /storage/spencer/poky/meta-openembedded/meta-networking \
  /storage/spencer/poky/meta-openembedded/meta-jupyter \
  /storage/spencer/poky/meta-arm/meta-arm-toolchain \
  /storage/spencer/poky/meta-arm/meta-arm \
  /storage/spencer/poky/meta-ti/meta-ti-bsp \
  /storage/spencer/poky/meta-ti/meta-ti-extras \
  /storage/spencer/UTHP/Yocto/meta-uthp \
  "
