# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/parallels/projects/yocto/poky/meta \
  /home/parallels/projects/yocto/poky/meta-poky \
  /home/parallels/projects/yocto/poky/meta-yocto-bsp \
  /home/parallels/projects/yocto/meta-custom \
  /home/parallels/projects/yocto/meta-openembedded/meta-oe \
  /home/parallels/projects/yocto/meta-python2 \
  /home/parallels/projects/yocto/meta-openembedded/meta-python \
  "
