[Unit]
Description=Express SPA Server
After=network.target

[Service]
Type=simple
User=nobody
WorkingDirectory=/usr/lib/node/uthp-app-ui
ExecStart=/usr/bin/node app.js
Restart=on-failure
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target