[Unit]
Description=Setup static IP for usb0
Wants=network.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ip addr add 192.168.7.2/24 dev usb0
ExecStart=/sbin/ip link set usb0 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
