[Unit]
Description=Custom Kea DHCP Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-custom-config.conf
Restart=always

[Install]
WantedBy=multi-user.target

